body {
  margin: 0;
  padding: 0;
  background-color: #74c69d;
  font-family: "Roboto", sans-serif;
}

h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: #081c15;
  font-weight: 600;
  user-select: none;
  margin: 0;
}

.game-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.unfocused {
  opacity: 0.5;
  filter: blur(4px);
  cursor: pointer;
}

p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #081c15;
}

.text-box {
  border: none;
  background-color: transparent;
  color: transparent;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

input:focus {
  outline: none;
  user-select: none;
}

.word-count {
  position: absolute;
  top: -20%;
  left: 0%;
  transform: translate(0%, 0%);
  color: #081c15;
  font-weight: 600;
  user-select: none;
}

span {
  font-size: 2rem;
  color: #081c15;
  user-select: none;
  line-height: 1.25;
}

.correct {
  color: #d8f3dc;
}

.incorrect {
  color: red;
  border-bottom: 1px solid red;
}
