:root {
  --primary-color: #3d9970;
  --text-color: #081c15;
  --background-color: #d8f3dc;
  --secondary-color: #004d32;
  --accent-color: #13d87f;
  /* alt accent-color: #36c996 */
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Roboto Mono", sans-serif;
}

p {
  color: var(--text-color);
}

.title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 10%;
}

.icon {
  width: 1.75rem;
  margin-right: 0.5rem;
  height: 1.75rem;
  color: #000;
}

h1 {
  color: var(--text-color);
  font-weight: 600;
  user-select: none;
  margin: 0;
  font-size: 2.25rem;
}

.game-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.unfocused {
  opacity: 0.5;
  filter: blur(4px);
  cursor: pointer;
}

.focus-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--text-color);
}

.text-box {
  border: none;
  background-color: transparent;
  color: transparent;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

input:focus {
  outline: none;
  user-select: none;
}

.word-count {
  position: absolute;
  top: -30%;
  left: 0%;
  transform: translate(0%, 0%);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  user-select: none;
}

span {
  font-size: 1.85rem;
  color: var(--text-color);
  user-select: none;
  line-height: 1.25;
}

.correct {
  color: var(--primary-color);
}

.incorrect {
  color: red;
  border-bottom: 1px solid red;
}

.stats-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.stat-line > p {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.result {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.arrow {
  position: absolute;
  top: 60%;
  left: 25%;
}
.caret {
  position: relative;
  margin: 0;
  padding: 0;
}

.caret::after {
  content: "";
  border-left: 2px solid black;
  padding: 0;
  margin: 0;
  height: 1.5rem;
}

@keyframes caretFlashSmooth {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.cursor::before {
  content: "";
  width: 3px;
  height: 1.75rem;
  background: #000;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

.arrow {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.profile-icon {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.mode-container {
  position: absolute;
  height: 2.5rem;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #95d5b2;
}

.spacer {
  height: 1.25rem;
  border-left: 3px solid black;
  border-radius: 5px;
}

.mode-select {
  opacity: 1;
  transition: opacity 0.1s ease-in-out; /* Add a smooth transition on opacity */
}

.selected {
  color: #fff;
}

.mode-select-focused {
  opacity: 0;
  transition: opacity 0.1s ease-in-out; /* Add a smooth transition on opacity */
}

.mode-item {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  cursor: pointer;
  user-select: none;
}

.mode-options {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  user-select: none;
}

.mode-item > p {
  margin-left: 0.5rem;
  padding-top: 0.2rem;
}

.mode-item:hover * {
  color: #fff;
  cursor: pointer;
}

.refresh-icon {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.shortcuts-unfocused {
  opacity: 0;
  transition: opacity 0.1s ease-in-out; /* Add a smooth transition on opacity */
}

.restart-shortcut {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.restart-shortcut > p > span {
  font-size: 0.95rem;
  border: 1px solid black;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 0.1rem 0.25rem;
}
