body {
  margin: 0;
  padding: 0;
  background-color: #d8f3dc;
  font-family: "Roboto Mono", sans-serif;
}

h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: #1a4231;
  font-weight: 600;
  user-select: none;
  margin: 0;
}

.game-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.unfocused {
  opacity: 0.5;
  filter: blur(4px);
  cursor: pointer;
}

.focus-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #1a4231;
}

.text-box {
  border: none;
  background-color: transparent;
  color: transparent;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

input:focus {
  outline: none;
  user-select: none;
}

.word-count {
  position: absolute;
  top: -20%;
  left: 0%;
  transform: translate(0%, 0%);
  color: #75c79e;
  font-size: 1.5rem;
  font-weight: 600;
  user-select: none;
}

span {
  font-size: 2rem;
  color: #081c15;
  user-select: none;
  line-height: 1.25;
}

.correct {
  color: #75c79e;
}

.incorrect {
  color: red;
  border-bottom: 1px solid red;
}

.stats-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  height: 1.5rem;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor::before {
  content: "";
  width: 3px;
  height: 1.75rem;
  background: #000;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}
